# =========================
# Dependencies
# =========================
node_modules/

# =========================
# Environment Variables
# =========================
.env

# =========================
# Build Output
# =========================
dist/
build/

# =========================
# Logs
# =========================
*.log
npm-debug.log*

# =========================
# Editor / IDE
# =========================
.vscode/
.idea/
*.iml

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db
